<form class="main-form" method="get" action="/send">
	<div class="form_item">
		<label for="url">
			File URL
		</label>
		<div class="url">
			<input class=":required :only_on_submit" type="text" name="url" />
		</div>
	</div>
	<div class="form_item">
		<label for="email">
			Email
		</label>
		<div class="email">
			<input class=":required :only_on_submit" type="text" name="email" />
			<strong>@free.kindle.com</strong>
		</div>
	</div>
	<div class="submit">
		<input type="submit" value="Send" />
	</div>
</form>
<footer>
	To be able to receive documents on your Kindle you need to add
	<strong>email.to.kindle@gmail.com</strong> to your Kindle approved email list.
</footer>